PORT=4000
MONGO_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=
NODE_ENV=development
CLIENT_URL=http://localhost:5173
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GMAIL_USER=
GMAIL_APP_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKER=localhost:9092
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ELASTICSEARCH_URL=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
SERVICE_NAME=
DEMO_MODE=true